
:root {
    --mxwidth: 80vh;
    --size: 40;
    --dim-size: calc(50 * 1vw);
}

.normalDavinci {
    background: url("https://s.abcnews.com/images/International/Leonardo-da-vinci-file-gty-ml-190502_hpMain_1x1_992.jpg");
    background-size: 20vh 20vh;
}

.bigDavinci {
    content: url("https://s.abcnews.com/images/International/Leonardo-da-vinci-file-gty-ml-190502_hpMain_1x1_992.jpg");
    width: 100%;
    height: 100%;
    z-index: 5;
    
}

.trialBG {
    position: absolute;
    content: url("https://s.abcnews.com/images/International/Leonardo-da-vinci-file-gty-ml-190502_hpMain_1x1_992.jpg");
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 500;
    transition:all 5000ms;

}
    

 .index {
     opacity: 0;
     z-index: -5;
     /* width: 50%; */
 }

body {
    background: url("https://s.abcnews.com/images/International/Leonardo-da-vinci-file-gty-ml-190502_hpMain_1x1_992.jpg");
    background-size: 20vh 20vh; 
    /* transition:all 10000ms; */
    
   
}
    

h1 {
    margin-top: 3.5%;
    margin-bottom: -3%;
    text-align: center;
    color: #f1a90d;
    font-size: 6vmin;
    font-family: Snell Roundhand, cursive;
    font-weight: 700;
}
.bigContainer {
    display: grid;
    grid-template-columns: 10vw var(--dim-size);
    grid-template-rows: var(--dim-size);
    width: 60vw;
    height: var(--dim-size);
    max-height: 70vh;
    max-width: 100vh;
    position: relative;
    margin-left: 20vw;
    margin-top: 15vh;
   /* border: 1px solid black; */
}
    .bigContainer::after {
        content: '';
        position: absolute;
        top: -15px;
        bottom: -15px;
        right: -20px;
        left: -5px;
        background-color: #563517;
        border-radius: 30px;
        /* background:url("https://images-na.ssl-images-amazon.com/images/I/51OMIgwEjvL._AC_SX425_.jpg"); */
        z-index: -1;
    }

.container {
    display: grid;
    background-color: rgba(141, 153, 141);
    max-height: 70vh;
    max-width: var(--mxwidth);
    border-radius: 10px;
}

    .container > div {
        /* border: 1px solid black; */
        
    }

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-columns: 9.9vw;
    grid-template-rows: repeat(6, 1.5vw);
   /* border: 1px solid black; */
    max-height: 70vh;
    
}

.buttonContainer > div {
    /* border: 1px solid black; */
    
}

.buttonDiv {
    width: 100%;
    height: auto;
    text-align: center;
}
.buttons {
    margin-top: 5%;
    height: 3.5vw;
    width: 80%;
    font-size: 1.7vw;
    border-radius: 5px;
    font-weight: 900;
    font-family: Snell Roundhand, cursive;
    background-color: #724E2C;
    /* background: url("https://s.abcnews.com/images/International/Leonardo-da-vinci-file-gty-ml-190502_hpMain_1x1_992.jpg");  linear-gradient(rgb(158, 15, 241),rgb(243, 232, 71)); */
    color: #f1a90d;
    text-shadow: 0.2px 0.2px 0 #f1a90d;
    
}
    #rain {
        font-size: 1.5vw;
    }
    .reset:focus {
        outline: none;
    }

    .buttons:hover {
        box-shadow: 0 0 1rem black;
    }

.topContainer {
    display: flex;
    grid-template-columns: ;
    justify-content: center;
    position: fixed;
    margin-top: 6.5vh;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #563517;;
    height: 4.5vh;
    align-items: center;
    border-radius: 5px;
}
    .topContainer > div {
        /* border: 1px solid black;  */
    }

    .topItem {
        margin-left: 2%;
        margin-right: 2%;
    }

    .userInput {
        margin-right: 0%;
    }

    #promptText {
        font-size: 1.5vw;
        font-weight: bold;
        position: relative;
        font-family: Snell Roundhand, cursive;
        color: #f1a90d;
        text-shadow: 0.2px 0.2px 0 #f1a90d;
        width: 16vw;
        text-align: right;
        white-space: nowrap;
        text-overflow: visible;
        margin-left: 1%;  
    }

    .textBox {
        background-color: #724E2C;
        font-family: Apple Chancery, cursive;
        color: white;
        opacity: 0.8;
        border-radius: 5px;
        outline: none;
        border: none;
        width: 10vw;
        font-size: 1.3vw;
        
        
    }
        input::placeholder {
            font-family: Apple Chancery, cursive;
            color: white;
            opacity: 0.8;
        }
    
    .RS {
        font-size: 1.3vw;
        font-weight: bold;
        font-family: Snell Roundhand, cursive;
        background-color: #724E2C;
        color: #f1a90d;
        text-shadow: 0.2px 0.2px 0 #f1a90d;
        border-radius: 5px;
        position: relative;
        padding: -10px;
    }


.input {
    position: fixed;
    margin-top: 6.5vh;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: gray;
    height: 4.5vh;
    
    align-items: center;
    align-content: center;
    justify-content: center;
    
    
}
.pickSize {
    display: inline-block;
    width: 20vw;
    height: 2.5vh;
    border-radius: 10px;
}

.RS {
    display: inline-block;
}